 <% if user_signed_in? %>


        <% else %>
        
<div class="hero-unit">
<h1>Welcome To My First WebSite</h1>
<p>
	Created and designed by 
	<%= link_to "Olivier Sabatier", "http://oliviersabatier42ae.prosite.com/" %>.

</p>

<p> 
<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary large" %>
</p>
</div>
        <% end %>

