<H1> About </H1>

<p>
	you find the home page for the
	<%= link_to "onemonthrails", "http://onemonthrails.com" %> is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonthrails.org" %> 
	in on month. This is the sample application


</p>

</P> teste de github </p>



