 <% if user_signed_in? %>

 <h1> Hello, You signed IN! </h1>

        <% else %>
        
<div class="hero-unit">
<h1>Welcome to On Month Rails</h1>
<p>
	you find the home page for the
	<%= link_to "onemonthrails", "http://onemonthrails.com" %> application.

</p>

<p> 
<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary large" %>
</p>
</div>
        <% end %>

