<div class="hero-unit">
<h1>Welcome to On Month Rails</h1>
<p>
	you find the home page for the
	<%= link_to "onemonthrails", "http://onemonthrails.com" %> application.

</p>

<p> 
<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
</p>
</div>

