<div class="footer">
<small> 
	<%= link_to "onemonthrails", "http://onemonthrails.com" %>
	by 
<%= link_to "Olivier SABATIER", "http://oliviersabatier42ae.prosite.com/" %> web photographer
</small> </div> 